<footer class="site-footer">
  <div class="wrap foot">
    <div class="foot-id">
      <span class="brand">
        <img class="sc-logo-light" src="/seolcoding/logos/L2-horizontal.svg" alt="SEOLCODING" width="638" height="77" loading="lazy">
        <img class="sc-logo-dark" src="/seolcoding/logos/L2-horizontal-dark.svg" alt="SEOLCODING" width="638" height="91" loading="lazy">
      </span>
      <span class="foot-role">{{ site.Params.role }}</span>
    </div>
    <ul class="foot-links">
      <li><a href="{{ site.Params.github_url }}" rel="me">GitHub</a></li>
      <li><a href="{{ site.Params.linkedin_url }}" rel="me">LinkedIn</a></li>
      <li><a href="{{ site.Params.youtube_url }}" rel="me">YouTube</a></li>
      <li><a href="{{ site.Params.blog_url }}">블로그</a></li>
    </ul>
    <p class="foot-copy">{{ site.Params.copyright }}</p>
  </div>
</footer>
